language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.2
    - android-29
  licenses:
    - 'android-sdk-license-.+'
addons:
  apt:
    packages:
    - binutils-mingw-w64-i686
    - g++-mingw-w64-i686
    - gcc-mingw-w64-i686
    - wine
    - groff
before_install:
  - yes | sdkmanager "platforms;android-29"
before_script:
  - wget -O astyle_3.1_linux.tar.gz http://sourceforge.net/projects/astyle/files/astyle/astyle%203.1/astyle_3.1_linux.tar.gz/download
  - tar -xf astyle_3.1_linux.tar.gz -C $HOME
  - make -C $HOME/astyle/build/gcc
  - make -C $HOME/astyle/build/gcc prefix=$HOME install
script:
  - if [[ -n $(make astyle | grep Formatted) ]]; then echo "Code formatting error. Please check astyle"; exit 1; fi
  - make android
  - make ARCH=Win32
  - make dist ARCH=Win32
  - make srczip
  - make clean
  - make
  - ./pktriggercord-cli --version
  - mkdir -p windows_test
  - cd windows_test
  - unzip ../pktriggercord-*-win.zip
  - wine ./pktriggercord-cli.exe --version
  - cd ..
