footer {
    background-color: #aaaaaa;
}

body, .header_shift { 
   padding-top: 60px;
}

.header_shift {
    margin-top: -60px;
}

html body {
   padding-bottom: 100px;
   margin-bottom: 0px;
}

@media (max-width: 767px) {
    html body {
	padding-bottom: 150px;
	margin-bottom: 0px;
    }
    div.bootmark nav.navbar-fixed-side {
	display:none;
    }

}

code {
   padding: 0px;
}
div[class="roww"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="coll-"] {
    background-color: rgba(255, 0, 0, 0.2);
}
iframe {
    border: 0;
}
#timelapse_steps li .list-group-item-heading {
    font-weight: bold;
    font-size: 110%;
}

img.img-thumbnail {
    height: 250px;
}

footer div.text-center a {
    padding-left: 1em;
    padding-right: 1em;
}

div.bootmark nav.navbar-fixed-side {
    height: calc( 100vh - 160px );
}

div.bootmark div.navbar-header {
    display: none;
}

li.bootmark-h1 {
    font-size: 110%;
}

li.bootmark-h1, li.bootmark-h2 {
    font-weight: bold;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}
