footer {
    background-color: #aaaaaa;
}
body { 
   padding-bottom: 80px;
}
code {
   padding: 0px;
}
div[class="roww"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="coll-"] {
    background-color: rgba(255, 0, 0, 0.2);
}
iframe {
    border: 0;
}
